@media (max-width: 1200px) {
    .w-xl-100 {
        width: 100% !important;
    }

    .example img {
        width: 15% !important;
    }
}

body { font-family: 'Manrope', sans-serif; }

a:hover #hover {
    text-decoration: underline;
}

.callout {
    margin: 1.25rem 0;
}

.callout > p, .callout > div {
    margin-left: 0.5rem;
    margin-bottom: 0;
    padding: 0.5rem;
}

.callout > div > * {
    margin: 0.1rem
}

.tip {
    background-color: var(--bs-success-bg-subtle);
    border-left: 0.25rem solid var(--bs-success);
}

.note {
    background-color: var(--bs-primary-bg-subtle);
    border-left: 0.25rem solid var(--bs-primary);
}

.score {
    background-color: var(--bs-danger-bg-subtle);
    border-left: 0.25rem solid var(--bs-danger);
}

.box {
    border-radius: var(--bs-border-radius) !important;
    background-color: rgba(var(--bs-light-rgb));
    padding: 1.5rem 2rem 0.5rem 2rem !important;
    margin-bottom: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb),.15) !important;
}

.box h2 {
    font-weight: 800;
}

.indent {
    margin-left: 1.5rem;
}

.smaller img {
    width: 5%;
    margin: 0 0.25rem
}

.example {
    position: relative;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
}

.meld {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.example img {
    width: 6%;
    margin: 0 0.1rem;
    margin-bottom: 0.5rem;
}

.gap {
    padding: 0 0.5rem;
}

.noborder td, .noborder th {
    border: none;
}

.bg-red {
    background-color: var(--bs-red) !important;
}

.bg-orange {
    background-color: var(--bs-orange) !important;
}

.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

.bg-green {
    background-color: var(--bs-green) !important;
}

.bg-blue {
    background-color: var(--bs-blue) !important;
}

.bg-light-blue {
    background-color: var(--bs-primary-bg-subtle) !important;
}

.bg-purple {
    background-color: var(--bs-purple) !important;
}

.bg-pink {
    background-color: var(--bs-pink) !important;
}

.bg-black {
    background-color: var(--bs-black) !important;
}

.bg-white {
    background-color: var(--bs-white) !important;
}

.retbut {
    position: absolute;
    margin-left: -1rem;
    margin-top: -1rem;
    color: var(--bs-gray-600) !important;
}

.retbut:hover {
    color: var(--bs-gray-800) !important;
}