body { font-family: 'Manrope', sans-serif; }

a:hover #hover {
    text-decoration: underline;
}

.callout {
    margin: 1.25rem 0;
}

.callout > p, .callout > div {
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.callout > div > * {
    margin: 0.1rem
}

.tip {
    background-color: var(--bs-success-bg-subtle);
    border-left: 0.25rem solid var(--bs-success);
}

.note {
    background-color: var(--bs-primary-bg-subtle);
    border-left: 0.25rem solid var(--bs-primary);
}

.score {
    background-color: var(--bs-danger-bg-subtle);
    border-left: 0.25rem solid var(--bs-danger);
}

.box {
    border-radius: var(--bs-border-radius) !important;
    background-color: rgba(var(--bs-light-rgb));
    padding: 1.5rem 2rem 0.5rem 2rem !important;
    margin-bottom: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb),.15) !important;
}

.box h2 {
    font-weight: 800;
}

.smaller img {
    width: 5%;
    margin: 0 0.25rem
}

.m_cat ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.m_cat li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.m_cat li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;   
}

.m_cat li li {
    margin: 0;
}

.m_cat li li:before {
    content: counters(item, ".") " ";
}

.m_cat .p:before {
    content: "";
}